html,body,div,span,applet,object,iframes,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,sub,sup,tt,var,
u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,th,tr,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video {

	margin: 0,
	padding:0,
	border:0,
	font-size:100%,
	font:inherit,
	vertical-align:baseline;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}

blockquote,q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '',
	content:none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

body{

	font-family: Arial;
	border: 4px solid #880101;
	border-top: none;
}

header{
	width: 100%;
	background-color: #880101;
	color: #FFF;
	text-align: center;
	padding: 16px 0;
}

header h1{
	letter-spacing: 1px;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
}

footer{
	text-align: center;
	font-size: 13px;
	padding: 16px 0;
}

footer a{
	color: #880101;
}

p#first, p#second{
	text-align: center;
	font-weight: bold;
	margin: 32px 0px;
}

p#first{
	font-size: 18px;
}

p#second{
	font-size: 24px;
}

#dual{
	text-align: center;
}

#dual .faces{
	display: inline-block;
	margin: 32px auto;
	color:#880101;
	font-weight: bold;
}

#dual img.photos{
	width: 266px;
	height: 400px;
	border:2px solid #CCC;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-ms-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
}

#dual img.photos:hover{
	border: 2px solid #880101;
}

#dual ul{
	list-style: none;
	margin-top: 16px;
}

#dual li{
	line-height: 24px;
}

#dual p#middle{
	font-weight: bold;
	vertical-align: 258px;
	display: inline-block;
	margin: 0px 16px;
}

#dual #loader{
	position: absolute;
	top: 418px;
	margin-left: -65px;
	display: none;
}